/* Colors 
#dca9ce - light purple
#9b5c8a - purple
#6c2c59 - dark purple
#ffeebe - light yellow
#edb648 - yellow
#446042 - green
#17240f - dark green 
#efefef - very light gray
*/

/* General CSS */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
  margin: 0;
}

ul {
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
}

/* Header CSS */
#top-bar {
  background-color: #9b5c8a;
  color: #dca9ce;
  text-align: center;
  margin: 0;
  padding: 5px;
  font-family: Cormorant;
}

/* --------------------------------------------- */
/* Banner CSS */

.gallery-container {
  position: relative;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: auto;
}

.gallery-images {
  object-fit: cover; 
  display: block;
  display: flex;
  width: 100%;
  transition: transform 0.5s ease-in-out; /
  height: 100%;
}

.text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  padding: 10px 20px;
  text-align: center;
}

#banner-text {
  font-family: Charm;
}

.slide {
  display: none;
  width: 100%;
}

.slide.active {
  display: block;
}

.text-overlay {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  padding: 10px 20px;
  text-align: center;
}

.text-overlay h1 {
  font-size: 100px;
  margin: 0px;
  padding: 10px;
}

.banner-buttons {
  display: flex;
  font-family: Cormorant;
}

.banner-button1, .banner-button2 {
  font-size: 20px;
}

@media only screen and (max-width: 900px){
  .text-overlay h1 {
    font-size: 75px;
  }
  .banner-button1, .banner-button2 {
    font-size: 15px;
  }
}

@media only screen and (max-width: 700px){
  .text-overlay h1 {
    font-size: 50px;
  }
}

@media only screen and (max-width: 500px){
  .text-overlay h1 {
    font-size: 50px;
  }
}

.text-overlay .banner-button1 {
  font-weight: 700;
  line-height: clamp(2.875em, 5.5vw, 3.5em);
  text-align: center;
  text-decoration: none;
  min-width: 9.375rem;
  margin: 0;
  box-sizing: border-box;
  padding: 0 3rem;
  background-color: var(--primary);
  overflow: hidden;
  color: #fff;
  border: none;
  display: inline-block;
  position: relative;
  z-index: 1;
  transition: color 0.3s;
}

.text-overlay .banner-button1:before {
  content: "";
  width: 0;
  height: 100%;
  background: #000;
  opacity: .6;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: width 0.3s;
}

.text-overlay .banner-button1:hover {
  color: #fff;
}

.text-overlay .banner-button1:hover:before {
  width: 100%;
}

.text-overlay .banner-button2 {
  line-height: clamp(2.875rem, 5.5vw, 3.5rem);
  width: 11.25rem;
  height: clamp(2.875rem, 5.5vw, 3.5rem);
  text-decoration: none;
  font-weight: 700;
  margin: 0;
  color: #fff;
  padding: 0;
  background-color: transparent;
  border: 1px solid var(--bodyTextColorWhite);
  box-sizing: border-box;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
}

.text-overlay .banner-button2:before {
  content: '';
  position: absolute;
  display: block;
  background: #000;
  opacity: .6;
  top: -1px;
  left: -1px;
  right: -1px;
  bottom: -1px;
  z-index: -1;
  transform-origin: left;
  transform: scaleX(0);
  transition: transform 0.3s;
}

.text-overlay .banner-button2:hover:before {
  transform: scaleX(1);
}

/* Styling for navigation buttons */

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 10px;
  color: white;
  font-weight: bold;
  font-size: 30px;
  transition: 0.6s ease;
  border-radius: 3px;
  user-select: none;
}

.prev {
  left: 0;
  border-radius: 3px;
}

.next {
  right: 0;
  border-radius: 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.6);
}

#dot-container {
  text-align: center;
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  z-index: 2;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* --------------------------------------------- */

/* Navigation CSS */
#navigation {
  border-block: 3px solid #6c2c59;
  background-color: #9b5c8a;
}

#nav-bar {
  padding: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-size: 15px;
  font-family: Cormorant;
}
#nav-bar li {
  list-style-type: none;
}

#nav-bar a {
  color: #dca9ce;
}

#nav-bar a:hover {
  color: #ffeebe;
}

@media only screen and (max-width: 550px){
  #nav-bar {
    font-size: 10px;
  }
  #top-bar {
    font-size: 10px;
  }
}

/* --------------------------------------------- */
/* footer CSS */

#bottom {
  background-color: #9b5c8a;
  padding: 10px;
  text-align: center;
}

#bottom h1 {
  margin: 0px;
  padding: 5px;
  text-align: center;
  font-family: Charm;
}

#bottom a {
  color: #dca9ce;
}

#bottom a:hover {
  color: white;
}

#bottom p {
  padding: 5px;
  font-family: Cormorant;
  color: #dca9ce;
  font-size: 20px;
}

#bottom p:hover {
  color: white;
}

#bottom-bar {
   background-color: #6c2c59;
   color: #dca9ce;
   font-family: Cormorant;
   text-align: center;
   padding: 5px;

}

#icons {
  color: #dca9ce;
  padding: 5px;
  font-size: 20px;
}

#icons a {
  color: #dca9ce;
}

#icons a:hover {
  color: white;
}

/* --------------------------------------------- */
/* Homepage CSS */

#about {
  background-color: #efefef;
  padding: 15px;
  display: flex;
}

#about h1 {
  margin: 0px;
  font-family: Charm;
  font-size: 50px;
}

#about h2 {
  font-family: Cormorant;
  font-size: 25px;
}

#about p {
  font-family: Cormorant;
  font-size: 20px;
}

#submit-content {
  padding: 15px;
}

#content-container {
  display: flex;
  justify-content: space-between;
}

#submit-content h1 {
  margin: 0px;
  font-family: Charm;
  font-size: 50px;
}

#submit-content li {
  font-family: Cormorant;
  font-size: 20px;
  margin-left: 20px;
}

#submit-content img {
  object-fit: contain;
  min-width: 0px;
  width: 600px;
  border: 1px solid #6c2c59;
  margin: 2px;
}

@media only screen and (max-width: 900px){
  #about h1 {
    font-size: 40px;
}
  #about h2 {
    font-size: 20px;
}
  #about p {
    font-size: 15px;
  }

  #submit-content h1 {
    font-size: 40px;
}
  #submit-content li {
    font-size: 15px;
  }
}

@media only screen and (max-width: 700px){
  #about h1 {
    font-size: 35px;
}
  #about h2 {
    font-size: 17px;
}
  #about p {
    font-size: 13px;
  }

  #submit-content h1 {
    font-size: 35px;
}
  #submit-content li {
    font-size: 13px;
  }
}

@media only screen and (max-width: 500px){
  #about h1 {
    font-size: 30px;
}
  #about h2 {
    font-size: 15px;
}
  #about p {
    font-size: 10px;
  }

  #submit-content h1 {
    font-size: 30px;
}
  #submit-content li {
    font-size: 10px;
  }
}

/* --------------------------------------------- */
/* Leadership CSS */

.page-banners img{
  object-fit: cover; 
  display: block;
  display: flex;
  width: 100%;
  height: 100%;
}

.right-side-container {
  background-color: #efefef;
}

.left-side {
  display: flex;
}

.right-side {
  display: flex;
}

.head-photo {
  object-fit: contain;
  min-width: 0px;
  width: 600px;
}

.head-bio {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 10px;
  padding-left: 2vw;
  padding-right: 2vw;
}

.head-bio h1 {
  margin: 1vw;
  font-family: Charm;
  color: #446042;
}

.head-bio p {
  margin: 1vw;
  font-family: Cormorant;
}

.head-bio h2 {
  margin: 1vw;
  font-family: Cormorant;
  color: #446042;
}

.head-bio-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.notable-work-card h3 {
    font-family: Cormorant;
  }

@media only screen and (max-width: 700px){
  .head-bio {
    font-size: 13px;
  }
  .quote {
    font-size: 15px;
  }
  .notable-work-card h3{
    font-size: 13px;
  }
}

@media only screen and (max-width: 550px){
  .head-bio {
    font-size: 10px;
  }
  .quote {
    font-size: 12px;
  }
  .notable-work-card h3{
    font-size: 12px;
  }
}

.notable-work-container {
  display: flex;
  justify-content: space-evenly;
}

.notable-work-card {
  margin: 2vw;
  display: flex;
  flex-direction: column;
  background-color: #6c2c59;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 300px;
  text-align: center;
  cursor: pointer; /* Changes cursor to a pointer on hover */
  padding: 10px;
  color: #ffeebe;
}

.notable-work-card img {
  height: 100%;
  object-fit: cover; 
  display: flex;
  width: 100%;
}

.notable-work-card:hover {
  transform: translateY(-5px); 
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
  background-color: #9b5c8a;
}

#introduction h1 {
  margin: 1vw;
  font-family: Charm;
  color: #446042;
  text-align: center;
  padding: 15px;
  font-size: 35px;
}

#staff {
  display: flex;
  justify-content: space-evenly;
  margin: 10px;
  flex-wrap: wrap;
}

.member {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #9b5c8a;
  padding: 10px;
  margin: 10px;
  color: #ffeebe;
}

.staff-photo {
  object-fit: cover; 
  display: flex;
  width: 100%;
}

@media only screen and (max-width: 900px){
  .staff-photo {
    width: 200px;
  }
}

@media only screen and (max-width: 700px){
  .staff-photo {
    width: 150px;
  }
}

@media only screen and (max-width: 500px){
  .staff-photo {
    width: 100px;
  }
}

.member h4 {
  padding: 5px;
  margin: 0px;
  font-family: Cormorant;
}

.member h5 {
  padding: 5px;
  margin: 0px;
  font-family: Cormorant;
}

/* --------------------------------------------- */
/* Gallery CSS */

#most-recent-issue {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#most-recent-issue img {
  object-fit: contain; 
  display: block;
  display: flex;
  width: 50vw;
  height: auto;
  max-width: 600px;
}

#most-recent-issue h1 {
  text-align: center;
  margin: 1.5vw;
  font-family: Charm;
  color: #446042;
}

#most-recent-issue a {
  background-color: #edb648;
  border: 3px solid #edb648; 
  padding: 5px;
  margin: 10px;
  color: #6c2c59;
}

#most-recent-issue a:hover {
  background-color: #ffeebe; 
}


@media only screen and (max-width: 700px){
  #most-recent-issue h1 {
    font-size: 30px;
  }
}

@media only screen and (max-width: 500px){
  #most-recent-issue h1 {
    font-size: 25px;
  }
}

/* --------------------------------------------- */
/* Spotlight CSS */

#upcoming-events {
  padding: 10px;
}

#upcoming-events h1 {
  font-family: Charm;
  font-size: 50px;
  color: #6c2c59;
}

#upcoming-events p {
  font-family: Cormorant;
}

#porfolio-container {
  background-color: #446042;
  padding: 15px;
}

#porfolio {
  padding: 10px;
  background-color: white;
}

#porfolio h1 {
  margin: 0px;
  font-family: Charm;
  font-size: 50px;
  color: #6c2c59;
}

#porfolio h2 {
  font-family: Cormorant;
  font-size: 30px;
  color: #446042;
  margin: 0px;
}

#porfolio h3 {
  font-family: Cormorant;
  font-size: 25px;
  color: #6c2c59;
  margin: 20px 0px;
}

#porfolio p {
  font-family: Cormorant;
  font-size: 20px;
  color: #9b5c8a;
}

#porfolio ul {
  font-family: Cormorant;
  font-size: 20px;
  color: #9b5c8a;
  margin: 0px 20px;
}

.visible-break {
  border: none;
  height: 2px; 
  background-color: #6c2c59;
  margin: 20px 10px; 
  width: 97%; 
}

@media only screen and (max-width: 730px){
  #porfolio h1 {
    font-size: 45px;
  }
}

@media only screen and (max-width: 700px){
  #porfolio h1 {
    font-size: 40px;
  }
  #porfolio h2 {
    font-size: 25px;
  }
}

@media only screen and (max-width: 600px){
  #porfolio h1 {
    font-size: 35px;
  }
  #porfolio h3 {
    font-size: 20px;
  }
}

@media only screen and (max-width: 520px){
  #porfolio h1 {
    font-size: 30px;
  }
  #porfolio h2 {
    font-size: 20px;
  }
  #porfolio h3 {
    font-size: 17px;
  }
}
